/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 */
 @import "bootstrap-custom";

 body {
   margin-left: 20px;
   margin-right: 20px;
   margin-top: 60px;
 }

 div
   .dropdown-menu {
     padding-left: 10px;
   }

   .title {
     margin-left: auto;
     margin-right: auto;
     width: 100%;
     text-align: center;
   }

   .posts {
     color:rgb(88, 150, 252);
   }

   .right-container {
     float: right;
     width: 50%;
   }

   .left-container {
     float: left;
     width: 50%;
   }
 /*button
   .search_btn {
     color: green;
   }
   .search_btn:hover {
     color: white !important;
   }*/
