<nav class="navbar navbar-expand-lg nav-light bg-light">
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link"><%=link_to_unless_current("Home", root_path)%></a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
         Flu Mortality
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
         <a class="dropdown-item" href="#">2016</a>
         <a class="dropdown-item" href="#">2015</a>
         <a class="dropdown-item" href="#">2014</a>
        </div>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
         Drug Poisoning Mortality
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
         <a class="dropdown-item" href="#">2016</a>
         <a class="dropdown-item" href="#">2015</a>
         <a class="dropdown-item" href="#">2014</a>
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Comparison</a>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search by State</button>
    </form>
  </div>
</nav>

<div>
  <h1 style= "color:green; text-align: left;">
    <%= image_tag("flu.png", style: 'width:100px', alt: "Flu is a bad bug", align:"left") %>
    <div style="padding-top:30pt; padding-bottom:20pt;">
      Reality through Mortality
      <p style="font-size:16pt;">Flu mortality in the US by state</p>
    </div>
  </h1>
</div>
